*{
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.full-page
{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0, 0, 0, 0.4)),url(login front.JPG);
	background-position: center;
	background-size: cover;
	position: absolute;
}
/* this block of code is for the setting the
 background img and position of the iamge etc */
 .navbar
 {
 display: flex;	
 align-items: center;
 padding: 20px;
 padding-left: 50px;
 padding-right: 30px;
 padding-top: 50px;
 }
 /* this is for setting dimension of the navigation bar */
 nav
 {
 	flex: 1;
 	text-align: right;
 }
 nav url
 {
 	display: inline-block;
 	list-style: none;
 }
 nav ul li
 {
 	display: inline-block;
 	margin-right: 70px;
 	/* this block is for styling the list elements */
 }
 nav ul li a
 {
 	text-decoration: none;
 	font-size: 20px;
 	color: white;
 	font-family: sans-serif;
 }
 nav ul li button
 {
 	font-size: 20px;
 	color: white;
 	outline: none;
 	border: none;
 	background: transparent;
 	cursor: pointer;
 	font-family: sans-serif;
 }
 nav ul li button:hover
 {
 	color: black;
 }
 nav ul li a:hover
 {
 	color: black;
 }
 a
 {
 	text-decoration: none;
 	color: palevioletred;
 	font-size: 28px;
 }

 /* 

 block for hiding the form 
 #login-form
 {
 	display: none;
 }
 .form-box
 {
 	width: 380px;
 	height: 480px;
 	position: relative;
 	margin: 2% auto;

 }
 */
